# List

In [1]:
list = [1,2,3,4,5]

In [2]:
list

[1, 2, 3, 4, 5]

In [3]:
list[1] = [2,3,4,5]

In [4]:
list

[1, [2, 3, 4, 5], 3, 4, 5]

In [5]:
list[1][2] = ['new list']

In [6]:
list

[1, [2, 3, ['new list'], 5], 3, 4, 5]

In [7]:
list[1][2][0]

'new list'

# Dictionary

In [8]:
dict = {'key1': 'value1', 'key2':'value', "key3":"value3"}

In [9]:
dict['key1']

'value1'

In [10]:
dict['key3']

'value3'

In [12]:
dict['key3'] = [1,3,43,5]

In [13]:
dict

{'key1': 'value1', 'key2': 'value', 'key3': [1, 3, 43, 5]}

In [14]:
dict['key3'][2]

43

In [15]:
d1 = {'key4':'val4'}

In [17]:
dict

{'key1': 'value1', 'key2': 'value', 'key3': [1, 3, 43, 5]}

In [18]:
dict['key1'] = d1

In [19]:
dict

{'key1': {'key4': 'val4'}, 'key2': 'value', 'key3': [1, 3, 43, 5]}

In [69]:
dict['key1']['key4']

'val4'

# Tuple

In [76]:
t = (1,2,3,4)

In [22]:
t

(1, 2, 3, 4)

In [64]:
t[0]

1

In [67]:
t[::-1]#to print reverse

(4, 3, 2, 1)

In [68]:
t[1:4]

(2, 3, 4)

In [24]:
t1 = (1,2,3,(4,5,(6,7)))

In [25]:
t1

(1, 2, 3, (4, 5, (6, 7)))

In [61]:
t1[3][2][1]

7

In [63]:
#to print reverse 
t1[::-1]

((4, 5, (6, 7)), 3, 2, 1)

# Set

In [74]:
set([1,3,4,5,6])

{1, 3, 4, 5, 6}

In [75]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
s = {1,2,3,4,5,6}

In [29]:
s

{1, 2, 3, 4, 5, 6}

In [32]:
s.add(5) # set only have the unique value, duplicate value cannot be added

In [31]:
s

{1, 2, 3, 4, 5, 6}

In [33]:
s.add(7)

In [34]:
s

{1, 2, 3, 4, 5, 6, 7}

# comparison

In [35]:
1>2>3>4

False

In [36]:
1<2<3<4

True

In [37]:
1<2 and 2<3 and 3<4

True

In [38]:
if 1<2:
    print("true")

true

In [40]:
if 1<0:
    print("1 is not less than 0")
elif 2<4:
    print("2 is less than 4")
else:
    print("else statment")

2 is less than 4

# for and while

In [42]:
seq = [1,2,3,4,5]
for s in seq:
    print(s)

1
2
3
4
5

In [73]:
for s1 in range(2,4):
    print(s1)

2
3


for and while too have a else block

In [82]:
for ss in range(3):
    if(ss == 7):
        print("found")
        break
    else:
        print("else block")
else:
    print("not found")

else block
else block
else block
not found

In [85]:
i = 1;
while i<8:
    if(i == 7):
        print("found")
        break
    else:
        print("else block")
    i = i+1
else:
    print("not found")

else block
else block
else block
else block
else block
else block
found

# List comprehension

In [92]:
out = []
for i in range(1,5):
    out.append(i**2)
print(out)

[1, 4, 9, 16]

In [90]:
[x**2 for x in range(1,5)]

[1, 4, 9, 16]

# Function

In [94]:
help(range.__len__)

Help on wrapper_descriptor:

__len__(self, /)
    Return len(self).

In [97]:
def squre(num):
    """
    this is methed is used to squaring the number
    RETURN:
        squared value
    """
    return num**2
squre(3)

9

In [98]:
help(squre)

Help on function squre in module __main__:

squre(num)
    this is methed is used to squaring the number
    RETURN:
        squared value