# List

In [81]:
lt = [1,2,3,4,5]

In [82]:
lt

[1, 2, 3, 4, 5]

In [83]:
lt[1] = [2,3,4,5]

In [84]:
lt

[1, [2, 3, 4, 5], 3, 4, 5]

In [85]:
lt[1][2] = ['new list']

In [86]:
lt

[1, [2, 3, ['new list'], 5], 3, 4, 5]

In [87]:
lt[1][2][0]

'new list'

# Dictionary

In [7]:
dict = {'key1': 'value1', 'key2':'value', "key3":"value3"}

In [9]:
dict['key1']

'value1'

In [10]:
dict['key3']

'value3'

In [11]:
dict['key3'] = [1,3,43,5]

In [12]:
dict

{'key1': 'value1', 'key2': 'value', 'key3': [1, 3, 43, 5]}

In [13]:
dict['key3'][2]

43

In [14]:
d1 = {'key4':'val4'}

In [15]:
dict

{'key1': 'value1', 'key2': 'value', 'key3': [1, 3, 43, 5]}

In [16]:
dict['key1'] = d1

In [17]:
dict

{'key1': {'key4': 'val4'}, 'key2': 'value', 'key3': [1, 3, 43, 5]}

In [18]:
dict['key1']['key4']

'val4'

In [15]:
dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [26]:
for key in dict.keys():
    print(key , dict[key])

key1 value1
key2 value
key3 value3

In [17]:
dict.items()

dict_items([('key1', 'value1'), ('key2', 'value'), ('key3', 'value3')])

In [27]:
for item in dict.items():
    print("key {0} and value {1}".format(item[0], item[1]))

key key1 and value value1
key key2 and value value
key key3 and value value3

In [28]:
dict.values()

dict_values(['value1', 'value', 'value3'])

# Tuple

In [29]:
t = (1,2,3,4)

In [30]:
t

(1, 2, 3, 4)

In [31]:
1 in t

True

In [21]:
t[0]

1

In [22]:
t[::-1]#to print reverse

(4, 3, 2, 1)

In [23]:
t[1:4]

(2, 3, 4)

In [34]:
t1 = (1,2,3,(4,5,(6,7)))

In [35]:
t1

(1, 2, 3, (4, 5, (6, 7)))

In [36]:
t1[3][2][1]

7

In [37]:
#to print reverse 
t1[::-1]

((4, 5, (6, 7)), 3, 2, 1)

In [49]:
xx = [(1,2),(3,4),(5,6)]

In [51]:
xx

[(1, 2), (3, 4), (5, 6)]

In [52]:
for item in xx:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [54]:
for a,b in xx:
    print (a ,"--", b)

1 -- 2
3 -- 4
5 -- 6

# Set

In [28]:
set([1,3,4,5,6])

{1, 3, 4, 5, 6}

In [29]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
s = {1,2,3,4,5,6}

In [31]:
s

{1, 2, 3, 4, 5, 6}

In [32]:
s.add(5) # set only have the unique value, duplicate value cannot be added

In [33]:
s

{1, 2, 3, 4, 5, 6}

In [34]:
s.add(7)

In [35]:
s

{1, 2, 3, 4, 5, 6, 7}

# comparison

In [36]:
1>2>3>4

False

In [37]:
1<2<3<4

True

In [38]:
1<2 and 2<3 and 3<4

True

In [39]:
if 1<2:
    print("true")

true

In [40]:
if 1<0:
    print("1 is not less than 0")
elif 2<4:
    print("2 is less than 4")
else:
    print("else statment")

2 is less than 4

# for and while

In [41]:
seq = [1,2,3,4,5]
for s in seq:
    print(s)

1
2
3
4
5

In [42]:
for s1 in range(2,4):
    print(s1)

2
3


for and while too have a else block

In [43]:
for ss in range(3):
    if(ss == 7):
        print("found")
        break
    else:
        print("else block")
else:
    print("not found")

else block
else block
else block
not found

In [44]:
i = 1;
while i<8:
    if(i == 7):
        print("found")
        break
    else:
        print("else block")
    i = i+1
else:
    print("not found")

else block
else block
else block
else block
else block
else block
found

# List comprehension

In [45]:
out = []
for i in range(1,5):
    out.append(i**2)
print(out)

[1, 4, 9, 16]

In [46]:
[x**2 for x in range(1,5)]

[1, 4, 9, 16]

# Function

In [47]:
help(range.__len__)

Help on wrapper_descriptor:

__len__(self, /)
    Return len(self).

In [48]:
def squre(num):
    """
    this is methed is used to squaring the number
    RETURN:
        squared value
    """
    return num**2
squre(3)

9

In [49]:
help(squre)

Help on function squre in module __main__:

squre(num)
    this is methed is used to squaring the number
    RETURN:
        squared value

# Build in function

In [50]:
#Map

In [6]:
def item2(val):
    return val *2

item2(4)

8

In [11]:
seq1 = [1,2,3,4,5]

In [12]:
seq1

[1, 2, 3, 4, 5]

In [13]:
item2(10)

20

In [14]:
seq1.append(1)

In [15]:
seq1

[1, 2, 3, 4, 5, 1]

In [16]:
map(item2, seq1)

In [17]:
list(map(item2,seq1))

[2, 4, 6, 8, 10, 2]

In [93]:
##lampta expression

In [75]:
t = lambda var:var * 2

In [89]:
t(4)

8

In [20]:
list(filter(lambda num: num%2==0, seq1))

[2, 4]

## Method

In [2]:
s = " This is a Method example"

In [3]:
s

' This is a Method example'

In [4]:
s.lower()

' this is a method example'

In [5]:
s = s.lower

In [25]:
s

In [26]:
s()

' this is a method example'

In [7]:
s1 = s()

In [9]:
s1.upper()

' THIS IS A METHOD EXAMPLE'

In [1]:
ss = "this is # exmaple for string"

In [2]:
ss.split()

['this', 'is', '#', 'exmaple', 'for', 'string']

In [3]:
ss.split('#')

['this is ', ' exmaple for string']

In [4]:
ssl = ss.split()

In [5]:
type(ssl
    )

list

# excercise

In [55]:
p = 7**4

In [56]:
p

2401

In [64]:
def getSplitString(val):
    print("val  ", val)
    if val is not None and "@" in val:
        return val.split("@")[1]
    else:
        print("given value is None")

In [62]:
getSplitString("ram@gamail.com")

'gamail.com'

In [63]:
getSplitString("ram")

given value is None

In [68]:
getSplitString("")

val
given value is None

In [73]:
def findCound(val):
    count = 0
    for v in val.lower().split():
        if v == 'dog':
            count += 1
    return count

In [74]:
findCound("the dog is a dog")

2

## find a word start with a specifc char by using lambda expression

In [75]:
seqList = ['soup','sack','dog','cat']

In [77]:
sl = filter(lambda word: word[0] == 's', seqList)

In [78]:
list(sl)

['soup', 'sack']